    h1 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 2px 2px 5px rgba(0, 204, 255, 0.849);
        font-size: 70px;
    }
    
    system p {
        font-family: 'Courier New', Courier, monospace;
    }
    
    .malenames {
        margin-right: 80px;
    }
    
    .names {
        display: flex;
        margin-bottom: 30px;
    }
    
    .birthday p {
        width: 100%;
        margin-left: 20px;
        font-size: 20px;
    }
    
    .subwrap {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    
    .container {
        background-color: rgb(60, 152, 168);
        opacity: 0.7;
        margin-top: 80px;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
        padding: 30px;
    }